:root {
    --primery-white-color: #ffffff;
    --background-hero: #2F303A;
    --background-team: #F5F4FA;
    --background-specialisations: #E5E5E5;
    --background-footer: #2F303A;
    --background-portfolio: #F5F4FA;
    --blue-color: #2196F3;
    --font-black: #212121;
    --font-grey: #757575;
    --font-white: #FFFFFF;
}

body {
    color: var(--font-black);
    background-color: var(--primery-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


/* Стили для странички index.html */

.flexin {
    display: flex;
}


/* .container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1600px;
} */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.logo {
    color: var(--font-black);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo .blue {
    color: var(--blue-color);
}

.logo .white {
    color: var(--font-white);
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pages {
    display: flex;
}

.pages .pages-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--font-black);
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--blue-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--blue-color);
}

.pages,
.contacts-head {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts {
    display: flex;
}

.contacts .pages-item:not(:last-child) {
    margin-right: 50px;
}

.contacts .contacts-now {
    color: var(--font-grey);
    text-decoration: none;
}

.contacts .current {
    color: var(--blue-color);
}

.contacts .contacts-now:hover,
.contacts .contacts-now:focus {
    color: var(--blue-color);
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--font-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    background-color: var(--background-hero);
}

.hero .hero-button {
    display: flex;
    display: inline-block;
    padding: 10px 32px;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    color: var(--font-white);
    background-color: var(--blue-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
    border: 1px solid transparent;
    width: 200px;
    height: 50px;
}

.features-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-title {
    margin-top: 0;
}

.features .features-subtitle {
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--font-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .features-description {
    margin-top: 0;
    color: var(--font-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.specialisations {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-specialisations);
}

.specialisations-img {
    /* margin-bottom: 94px; */
}

.specialisations-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team .team-title {
    margin-top: 0px;
    margin-bottom: 50px;
}

.specialisations .specialisations-title,
.team .team-title {
    color: var(--font-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-img {
    margin-bottom: 30px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-team);
}

.team .team-name {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--font-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team .team-prof {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--font-grey);
}

.footer {
    background-color: var(--background-footer);
}

.footer-logo {
    margin-top: 60px;
    margin-bottom: 20px;
}

.contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

.contacts-city {
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-email {
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-phone {
    margin-top: 0;
    padding-bottom: 60px;
}

.contacts .contacts-address {
    color: var(--font-white);
}

.contacts .contacts-email,
.contacts .contacts-phone {
    color: var(--font-grey);
    text-decoration: none;
}


/* Стили для странички portfolio.html */

.buttons {
    padding-top: 94px;
    padding-bottom: 94px;
    min-width: 84px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
}

.buttons .buttons-link {
    color: var(--font-black);
    background-color: var(--background-portfolio);
    font-family: inherit;
}

.buttons .buttons-link:hover,
.buttons .buttons-link:focus {
    color: var(--font-white);
}

.buttons .buttons-link:hover,
.buttons .buttons-link:focus {
    background-color: var(--blue-color);
}

.buttons .first-button,
.buttons .second-button,
.buttons .third-button,
.buttons .fourth-button,
.buttons .fifth-button {
    display: inline-block;
    padding: 6px 22px;
    text-decoration: none;
    font-family: inherit;
    border-radius: 4px;
}

.works .works-title {
    margin-top: 0;
}

.works-link .container-works {
    margin-bottom: 20px;
}

.works .works-subtitle {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--font-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works .works-type {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--font-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.works .works-link {
    text-decoration: none;
}